.menuContainer {
  display: flex;
  min-height: 100vh;
}

.menuContent {
  flex: 1;
  padding: 32px;
  background-color: #f7f9fc;
}

.menuTitle {
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 24px;
}

.menuGrid {
  display: grid;
  grid-template-columns: repeat(3, 1fr); 
  gap: 24px;
}

.menuCard {
  background: white;
  border-radius: 16px;
  padding: 24px;
  text-align: center;
  box-shadow: 0 4px 10px rgba(0,0,0,0.05);
  transition: transform 0.3s, box-shadow 0.3s, background-color 0.3s, color 0.3s;
  cursor: pointer;
  position: relative;
  color: #333; 
}

.menuCard:hover {
  transform: translateY(-5px) scale(1.02);
  box-shadow: 0 10px 20px rgba(0,0,0,0.1);
  background-color: #007bff;
  color: white; 
}


.menuIcon {
  font-size: 28px;
  color: #007bff;
  margin-bottom: 12px;
  transition: color 0.3s;
}

.menuCard:hover .menuIcon,
.menuCard:hover .menuCardDesc,
.menuCard:hover .menuCardTitle {
  color: white;
}
.menuCardTitle {
  font-weight: bold;
  font-size: 18px;
  color: #333;
}

.menuCardDesc {
  font-size: 14px;
  color: #666;
  margin-top: 8px;
  opacity: 0;
  transition: opacity 0.3s ease-in;
}

.menuCard:hover .menuCardDesc {
  opacity: 1;
}